<div class="top">
    <div class="top-main">
        <div class="container">
            <div class="small-container">
                <div class="form-frame">
                    <div class="form-area">
                        <p class="form-area-title">Potepan Shareでまだ体験したことのない旅をしよう</p>
                        <form actiom="" method="get">
                            <label for="area">エリア</label>
                            <input type="text" id="area" name="area" class="form-control" placeholder="東京">
                            <input type="submit" value="探す" class="form-control button-search">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="panel-area">
            <h1 class="panel-title">おすすめのエリア</h1>
            <div class="row">
                <div class="panel-item">
                    <span>東京</span>
                    <a href="">
                        <img class="panel-img" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg" alt="東京の風景">
                    </a>
                </div>
                <div class="panel-item">
                    <span>大阪</span>
                    <a href="">
                        <img class="panel-img" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg" alt="大阪の風景">
                    </a>
                </div>
                <div class="panel-item">
                    <span>京都</span>
                    <a href="">
                        <img class="panel-img" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg" alt="京都の風景">
                    </a>
                </div>
                <div class="panel-item">
                    <span>札幌</span>
                    <a href="">
                        <img class="panel-img" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg" alt="札幌の風景">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
